@import "../common/colors";
.loginArea {
 padding-left: 15px;
 padding-right: 15px;
 margin-top: 10%;
 .loginCard {
   width: 100%;
 }
}
.headerLoginArea {
 text-align: center;
}
#noAccountLabel {
 font-size: 12px;
 margin-bottom: 5px;
}
#singInButton {
 height: 35px;
 font-size: 14px;
 width: 100%;
}
.loginLabel {
 font-weight: 200;
 font-size: 18px;
 color: $labelsAccent;
}
.form-control {
 font-size: 12px;
 height: 30px;
}
.formArea {
 background-color: white;
 padding-bottom: 0;
 margin-bottom: 0;
 padding-top: 20px;
}
.headerLogin {
 font-weight: 300;
}
.container-fluid {
 position: absolute;
 top: 0;
 width: 100%;
 max-width: 100%;
}
.main {
 height: 100%;
 position: relative;
}
.imageBackground {
 height: 100%;
 width: 100%;
 position: relative;
 background-image:url('../../images/login_background.png');
 top: 0;
 left: 0;
 opacity: 0.5;
}
.errorMessage {
 color: $error;
 font-size: 14px;
}
.logoutMessage {
 color: $confirmation;
 font-size: 22px;
 text-align: center;
 font-weight: 500;
}