
{# app/Resources/views/number.html.twig #}
{%  extends 'base.html.twig'%}
{% block title %}
Rezerwacja
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reservation/reservation.css') }}">
{% endblock %}

{% block body %}
{{ parent() }}

<div class="loader"></div>
<div class="container">
    <div class="col-md-12 alertArea">
    </div>
    <h4 class="pageHeader">Rezerwacja</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded card">
                <div class="card-body">
                    <div class="row">
                        <form method="POST" action="#" id="reservationFomr">
                            <div class="form-group">
                                <label for="reservationStart">Dzień</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group hour-area">
                                <label for="reservationStart">Godzina rozpoczęcia</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">

                                <label for="reservationStart">Godzina zakończenia</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Ilość przejazdów</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Ilość osób</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Gokarty</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="form-group">
                                <label for="reservationStart">Cena: </label>
                                <p></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Rezerwuj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded card">
                <div class="card-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
{%  endblock %}
