{%  extends 'base.html.twig'%}
{% block title %}
    Aktualności
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            tutaj beda aktualnosci
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{%  endblock %}
