@import "../common/colors";
.tableArea {
  margin-top: 40px;
}
.form-control {
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_processing {
  color: $pageHeader;
  font-size: 30px;
  text-align: center;
}
.editAvailabilityBtn, .editKartBtn {
  width: 100px;
}
.editAvailabilityBtn {
  margin-left: 10px;
}