@import "../common/colors";
.kartCol {
  margin-bottom: 35px;
  .card {
    width: 100% !important;
    margin-top: 10px;
    height: 100%;
    .descriptionArea {
      margin-top: 15px;
      font-size: 14px;
    }
    .card-header {
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }
  .kartName {
    text-transform: capitalize;
  }
}