@import "../common/colors";

.tableArea {
  margin-top: 50px;
}
.recordHeader {
  text-align: center;
  margin-bottom: 25px;
}
#recordNumberHeader {
  margin-right: 10px;
}

.recordHeaderRow {
  font-weight: 600;
}
a {
  color: black;
}
.recordCard {
  text-align: center;
  margin-top: 20px;
}
.table-fixed {
  max-height: 580px;
  overflow-x: auto;
  #recordTable {
    max-height: inherit;
    width: 100%;
    text-align: center !important;
  }
}