{%  extends 'base.html.twig'%}
{% block title %}
   Server error
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/alerts/statusCodes.css') }}" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row pageNotFoundArea">
            <div class="col-md-12 area">
                <p id="topHeader">We are sorry</p>
            </div>
            <div class="col-md-12 area">
                <p id="botHeader">error occured during loading data from server</p>
            </div>
        </div>
    </div>
{% endblock %}