$labelsAccent: #C8C8C8;
$error: #DC143C;
$confirmation: #228B22;
$pageHeader: #A8A8A8;
$mainAccent: #494949;
$mainAccentLight: #e0e0e0;
$mainFont: 'Roboto', sans-serif;

$userTypeReservation: #b3c6ff;
$timeTypeReservation: #f56954;

$detailsInfo: #aa7da2;
$detailsInfoHover: #997091;

$confirmWarning: #52b11c;
$confirmWarningHover: #499f19;