@import "../common/colors";
.submitButton {
  margin-top: 10px;
}
.form-control {
  font-size: 12px;
}
.registrationArea {
  margin-top: 10px;
}
ul {
  list-style: none;
  padding: 0px;
}
.card-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.modalBodyArea {
  text-align: center;
  color: $confirmation;
  font-size: 24px;
}
.arrowBack {
  font-size: 45px;
  color: $labelsAccent;
}
.container {
  margin-top: 15px;
}