@import "../common/colors";
.eventCalendar {
  text-align: center;
  font-size: 18px;
}
.datepicker {
  margin-bottom: 10px;
  display: none;
  position: absolute !important;
  top: 15% !important;
}
#emptyCalendarHeader {
  text-align: center;
}
.popover {
  height: 150px !important;
  z-index: 9999;
}
ul {
  li {
    .userBadge {
      background-color: $userTypeReservation;
    }
    .timeBadge {
      background-color: $timeTypeReservation;
    }
    .legend-info-header {
      font-weight: 200;
      font-size: 12px;
    }
  }
  list-style: none;
  .badge {
    margin-bottom: 8px;
    height: 30px;
    width: 50px;
    .infoIcon {
      line-height: 23px;
    }
  }
}
