<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gokart track</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarArea" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Aktualności <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rezerwacja</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Strefa klienta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Twoje nagrania</a>
                    <a class="dropdown-item" href="#">Twoje przejazdy</a>
                    <a class="dropdown-item" href="#">Twoje rezerwacje</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rekordy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pojazdy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
            </li>

        </ul>
        <ul class="navbar-nav navbarArea navbarRightArea">
            <li class="nav-item"><p class="nav-link" id="userName"> {{ app.user.name }}</p></li>
            <li class="nav-item dropdown">
                <i class="far fa-user userIcon dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="#">Twój profil</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link float right" href="{{ asset(path('logout')) }}">Wyloguj się</a>
            </li>
        </ul>
    </div>
    {#<ul class="navbar-nav navbarArea">#}
        {#<li class="nav-item"><p class="nav-link" id="userName"> {{ app.user.name }}</p></li>#}
        {#<li class="nav-item dropdown">#}
            {#<i class="far fa-user userIcon dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>#}
            {#<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">#}
                {#<a class="dropdown-item" href="#">Twój profil</a>#}
            {#</div>#}
        {#</li>#}
        {#<li class="nav-item">#}
            {#<a class="nav-link float right" href="{{ asset(path('logout')) }}">Wyloguj się</a>#}
        {#</li>#}
    {#</ul>#}

</nav>