
{# app/Resources/views/number.html.twig #}
{%  extends 'base.html.twig'%}
{% block title %}
    Rejestracja
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registration/registration.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 registrationArea">
                <div class="shadow p-3 mb-5 bg-white rounded card">
                    {{ form(userLoginForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{%  endblock %}
